@font-face {
    font-family: 'Nunito';
    src: url('~/assets/fonts/Nunito-Variable.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('~/assets/fonts/Geist-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}