@font-face {
    font-family: 'Parkinsans';
    src: url('~/assets/fonts/Parkinsans-Variable.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('~/assets/fonts/Geist-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}